<%- include('../partials/header') %>
<%- include('../partials/navbar') %>


<div class="container">

    <% produtos.forEach(produto=> {c %>
        <p><%=  produto.titulo %></p>
        <p><%=  produto.descricao %></p>

<% }) %>
</div>

<%- include('../partials/footer') %>